<nav class="navbar-default navbar-static-side" role="navigation" ng-controller="ObjectivesNavigationCtrl as ObjNavCtrl">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav" id="side-menu">
            <li class="nav-header">
                <div class="logo" ng-controller="MainCtrl as main">
                    <img class="img-responsive"/>
                </div>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.dashboard"><i class="fa fa-line-chart"></i> <span class="nav-label">Dashboard</span> </a>
            </li>
            <li ui-sref-active="active">
                <a href="index.dashboard"><i class="fa fa-sliders"></i> <span class="nav-label">Objectives</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('dashboards')}">
                    <li ui-sref-active="active" ng-repeat="objective in objectives | filter:filterByMainMenu">
                        <a ui-sref="index.objective({objectiveId: objective.id})">{{objective.name}}</a>
                    </li>
                    <li ng-show="showArchivedMenu()">
                        <a href="">Archived Objectives<span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li ng-repeat="objective in objectives | filter:filterBySecondaryMenu" >
                                <a ui-sref="index.objective({objectiveId: objective.id})">{{objective.name}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.new_objective"><i class="fa fa-flash"></i> <span class="nav-label">Create Objective</span> </a>
            </li>
        </ul>

    </div>
</nav>