<div class="wrapper wrapper-content" ng-controller="ObjectiveDashboard" >
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-info pull-right">Current</span>
                    <h5>Objectives</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{objectivesCount}}</h1>

                    <small>Objectives</small>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-info pull-right">Current</span>
                    <h5>Subobjectives</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{subobjectivesCount}}</h1>

                    <small>Subobjectives</small>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-info pull-right">Current</span>
                    <h5>Progress</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{progressCount}}</h1>

                    <small>Progress made</small>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div>
                        <h3 class="font-bold no-margins">
                            Progress Over Time
                        </h3>
                    </div><br />

                    <canvas id="line" class="chart chart-line" data="data" labels="labels" legend="false" series="series"></canvas> 

                </div>
            </div>
        </div>
        <div class="col-lg-6" ng-controller="ObjectivesTodayCtrl">
            <div class="ibox-content">
                <h2>Subobjectives Today</h2>
                <small>A list of your subobjectives that you have not made progress on today </small>
                <ul class="todo-list m-t">
                    <li ng-attr-id="{{'today-row-' + $index}}" ng-repeat="sub in objectives">
                        <span class="m-l-xs">{{sub.name}}
                            <div class="task-actions pull-right">
                                <button class="btn btn-primary btn-circle task-action-button" type="button" ng-click="addProgressSubmit($index, sub.id)"><i class="fa fa-check"></i>
                                </button>
                                <button class="btn btn-default btn-circle task-action-button" type="button" ng-click="ignoreSubobjectiveSubmit($index, sub.id)"><i class="fa fa-flag-o"></i>
                                </button>
                            </div>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>