<div class="wrapper wrapper-content" ng-controller="ObjectiveDetailCtrl as ObjDetailCtrl">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{objective.name}}</h5>
                    <div objective-header></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-info pull-right">Total</span>
                    <h5>Progress</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{objective.sub_progress}}</h1>
                    <small>Across Subobjectives</small>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">{{objective.longest_streak.subobjective_name}}</span>
                    <h5>Longest Streak</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{objective.longest_streak.streak}}</h1>
                    <small>Days</small>
                    <div ng-show="objective.longest_streak.subobjective_name" class="stat-percent font-bold text-navy">{{longestStreakMessage()}}</div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-warning pull-right">{{objective.current_streak.subobjective_name}}</span>
                    <h5>Current Streak</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{objective.current_streak.streak}}</h1>
                    <small>Days</small>
                    <div ng-show="objective.current_streak.subobjective_name" class="stat-percent font-bold text-warning">{{currentStreakMessage()}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 class="pull-left">Progress Trend</h5>
                    <div class="btn-group pull-right">
                        <button data-toggle="dropdown" class="btn btn-primary btn-xs dropdown-toggle">{{activeTimeFrame}} <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li ng-class="(activeTimeFrame=='Months') ? 'active' : ''"><a ng-click="changeProgressTimeFrame('Months')" href="#">Months</a></li>
                            <li ng-class="(activeTimeFrame=='Weeks') ? 'active' : ''"><a ng-click="changeProgressTimeFrame('Weeks')" href="#">Weeks</a></li>
                            <li ng-class="(activeTimeFrame=='Days') ? 'active' : ''"><a ng-click="changeProgressTimeFrame('Days')" href="#">Days</a></li>
                        </ul>
                    </div>
                </div>
                <div class="ibox-content no-padding">
                    <div ng-hide="hideNoDataMessage()" class="noProgressChart">
                        <p>No Progress Has Been Made Yet</p>
                    </div>
                    <canvas id="progressTrendObjective" class="chart chart-bar" data="progressTrendData" labels="progressTrendLabels" legend="true" series="progressTrendSeries"></canvas> 
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 class="pull-left">Manage Subobjectives</h5>
                    <button type="button" class="btn btn-default btn-xs pull-right" data-toggle="modal" data-target="#myModal">Add New</button>
                </div>
                <div class="ibox-content no-padding" ng-repeat="sub in subobjectives">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge badge-primary">{{sub.progress}}</span>
                            {{sub.name}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Breakdown</h5>
                </div>
                <div class="ibox-content no-padding">
                    <div ng-hide="hideNoDataMessage()" class="noProgressChart">
                        <p>No Progress Has Been Made Yet</p>
                    </div>
                    <canvas id="progressPieBreakdown" class="chart chart-pie" data="breakdownData" labels="breakdownLabels" legend="true" series="breakdownSeries"></canvas> 
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
        </div>
    </div>
</div>
<subobjective-edit-modal modal-id="myModal" modal-title="Create Subobjective" success-button-text="Create Subobjective" submit-create-subobjective="submitCreateSubobjective()">
    <div class="form-group">
        <label>Name *</label>
        <input id="nameSubobjective" name="name" type="text" ng-model="createSubobjective.name" class="form-control required">
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea id="descriptionSubobjective" name="description" type="text" ng-model="createSubobjective.description" class="form-control"></textarea>
    </div>
</subobjective-edit-modal>