<div class="wrapper wrapper-content" ng-controller="ObjectiveDetailCtrl as ObjDetailCtrl">
    <div class="row" ng-repeat="objective in objectives | filter:isObjective">
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-info pull-right">Monthly</span>
                    <h5>Progress</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{objective.progress}}</h1>

                    <div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i></div>
                    <small>Progress made</small>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">Today</span>
                    <h5>Pace</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{objective.pace}}</h1>

                    <div class="stat-percent font-bold text-navy">44% <i class="fa fa-level-up"></i></div>
                    <small>Per Day</small>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-danger pull-right">Low value</span>
                    <h5>Achievability</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{objective.achievability}}</h1>

                    <div class="stat-percent font-bold text-danger">38% <i class="fa fa-level-down"></i></div>
                    <small>at current time</small>
                </div>
            </div>
        </div>
    </div>
</div>