<table>
	<tr>
		<th>Name</th>
	  <th>Amount</th>
	  <th>Date</th>
	</tr>
	<% progresses.each do |p| %>
	<tr>
		<td><%= p[:name] %></td>
	  <td><%= p[:amount] %></td>
	  <td><%= p[:created_at].in_time_zone("Central Time (US & Canada)") %></td>
	</tr>
	<% end %>
</table>