@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&lang=en");

/* For Logo */
.skin-3 .nav-header {
    padding: 12px 25px 13px 25px !important;
}

.logo {
    text-align:center;
    font-size:18px;
    font-weight:600;
    color:white;
    display:block;
    padding:0px 0px
}

.logo img {
    content: url(../images/tracktosmaller.png);
}

/* For Task Buttons */

.task-actions {
    transform: translateY(-20%);
}

.task-action-button {
    outline: 0 !important;
}

/* Set Custom CSS for App*/

.col-centered {
    float: none;
    margin: 0 auto;
}

.white-font {
    color: #fff;
}

.noProgressChart {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.progressSlider {
    width: 100px;
    margin-left: 15px;
}

.updateProgressBtn {
    margin-left: 15px;
}