<div class="loginColumns animated fadeInDown">
    <div class="row">
        <div class="col-md-6 col-centered" ng-controller="LoginController">
            <div class="ibox-content" ng-hide="showForgotPassword" >
                <form class="m-t">
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="New Password" ng-model="pwdUpdateForm.password" required=""> 
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Confirm Password" ng-model="pwdUpdateForm.password_confirmation" required=""> 
                    </div>
                    <button ng-click="updatePassword()" class="btn btn-primary block full-width m-b">Update Password</button>
                </form>
            </div>
        </div>
    </div>
</div>