<H1>Objective: <%= @objective.name %></H1>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Progress</th>
    <th>Change Progress</th>
    <th>Delete</th>
  </tr>
  <% @subobjectives.each do |o| %>
  <tr>
    <td><%= o[:name] %></td>
    <td><%= o[:description] %></td>
    <td>0</td>
    <td><%= link_to "Update Progress", new_subobjective_progress_path(o[:id]) %></td>
    <td><%= link_to "Delete", subobjective_path(o[:id]), method: :delete %></td>
  </tr>
  <% end %>
</table><br />
<%= link_to "Add a Subobjective", new_objective_subobjective_path %>