<div class="ibox-tools dropdown" ng-controller="ObjectiveDetailCtrl">
    <a class="dropdown-toggle" data-toggle="dropdown" href dropdown-toggle>
        <i class="fa fa-wrench"></i>
    </a>
    <ul class="dropdown-menu dropdown-user">
        <li><a data-toggle="modal" data-target="#editObjectiveModal" href>Edit Objective</a></li>
        <li ng-hide="isArchived()"><a ng-click="archiveObjective()" href>Archive Objective</a></li>
        <li ng-show="isArchived()"><a ng-click="unarchiveObjective()" href>Unarchive Objective</a></li>
        <li><a ng-click="deleteObjective()" href>Delete Objective</a></li>
    </ul>
</div>